:root {
  --white-color: #fff;
  --black-color: #1f1f1f;
  --gray-color: #a9a9a9;
  --gray-light-color: #d0d0d0;
  --blue-color: #4159f7;
  --blue-light-color: #f0f2fe;
  --red-color: #f74141;

  --blue-hover-color: #2d46e1;
}

$ff: Roboto, Arial, sans-serif;
$fz: 16px;
$lh: 1.6;

$gap: 20px;

$min-width: 320px;
$desktop-width: 1000px;

$transition: all 0.3s ease;
